
.icon-folder-open:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\f052'; } /* '' */
.icon-twitter:before { content: '\f058'; } /* '' */
.icon-instagram:before { content: '\f05d'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-yen:before { content: '\f157'; } /* '' */
.icon-collapse-left:before { content: '\f191'; } /* '' */
.icon-eercast:before { content: '\f2da'; } /* '' */